<?xml version="1.0"?>

<robot name="spot_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--  Degree-to-radian conversions -->
  <xacro:property name="degrees_45" value="0.785398163"/>
  <xacro:property name="degrees_90" value="1.57079633"/>
  <xacro:property name="pi" value="3.14159265359"/>

  <!-- Spot mesh overlaid on USpot01/base_link -->
  <link name="USpot01/base_link">
    <visual>
        <origin xyz="0.00 0.00 -0.5" rpy="0 0 ${degrees_90}"/>
        <geometry>
          <mesh filename="package://cog_explore_robot_client/urdf/meshes/spot.dae"  scale="0.3 0.3 0.3"/> <!-- This scale factor is likely too big -->
        </geometry>
      </visual>
  </link>

</robot>