catkin_pkg==1.0.0
clip==0.2.0
cv_bridge==1.13.0.post0
flask_cors==4.0.1
flask_socketio==5.3.6
matplotlib
numpy
opencv-python-headless==4.9.0.80
Pillow
py3rosmsgs==1.18.2
python-socketio
requests
scikit_learn
scipy
toml
torch
tokenizers
transformers
weightedstats
pycryptodome 
rospkg 
scikit-build
setuptools-rust
