<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend</title>
    <style type="text/css">
      @import url("{{ url_for('static', filename='styles.css')}}");
    </style>
  </head>
<body>

        <section class="split left">
            <div class="centered">
                <!--source src="mov_bbb.mp4" type="video/mp4"-->
                <img class = "display_class" id="VideoN" src="/backend/image_stream" style = " width: 80%; height: 100%; padding-left: 10%; ">
            </div>
        </section>
        
</body>
</html>